.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: #49d295;
  color: #0b2239;
  outline: none;
}

.button--disabled {
  opacity: 0.5;
}
